/*=============== Google-Font ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  // font-family
  --montserrat-font: "Montserrat", sans-serif;

  // color
  --primary-color: #f2994a;
  --text-color: #333;
  --title-color: #4e5150;
  --input-text-color: #828282;
  --light-gray-color: #bdbdbd;
  --label-color: #4f4f4f;
}
